services:
  postgres:
    image: postgres:17
    container_name: pg
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:8
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  inbucket:
    image: inbucket/inbucket:latest
    container_name: inbucket
    restart: unless-stopped
    ports:
      - "9000:9000"   # Web UI
      - "2500:2500"   # SMTP
      - "1100:1100"   # POP3

volumes:
  pg_data:
  redis_data:
